
<nav>
    <div class="section-container">
        <ul>
            <li><a href='@Url.Action("Index", "Home")"#quem_somos"'>Sobre</a></li>
            <li><a href='@Url.Action("Index", "Home")"#historia"'>História</a></li>
            <li><a href='@Url.Action("Index", "Home")"#planos"'>Planos</a></li>
            <li><a href='@Url.Action("Index", "Home")"#equipe"'>Equipe</a></li>
            <li><a href='@Url.Action("Index", "Home")"#local"'>Local</a></li>
        </ul>
    </div>
</nav>